body {
    background-color:lightgray;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  footer {
    text-align: center;
    background-color: lightslategray;
    width: 100%;
    border-top: 5px gray solid;
    display: block;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

nav {
    text-align: center;
    background-color:darkslategrey;
    overflow: hidden;
    width: 100%;
    position:sticky;
    top: 0px;
}

nav a {
    color: white;
    display: block;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: red;
}

#header {
    background-color: lightgray;
    padding: 1em;
    text-align: center;
  }
  
  #header h1 {
    margin: 0;
  }
  
  #header p {
    font-size: 0.8em;
    margin: 0;
  }
  